html{
    background-color: black;
}

html, body, html > body {
    color: white;
    font-family: 'VT323', monospace;
    font-size: 30px;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    padding: 0;
    margin: 0;
    position: relative;
}

body {
    opacity:0;
    transition: opacity 2s;
    -webkit-transition: opacity 2s; /* Safari */
}

h1, h2, h3, h4, h5, h6, p, a, b, small, strong, span, input, button, i, div, section { 
    font-size: 1rem;
    font-weight: 400;
    text-decoration: none;
    margin: 0;
    padding: 0;
}
h2{
    text-align: right;
}

a{
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
    color: #0000ff;
    display: inline-block;
}
a::before{
    content: '['
}
a::after{
    content: ']'
}
a:hover{
    color: #000000;
    background: #0000ff;
}
h1, h2, h3, h4, h5 { 
    color: red;
}
h1 a, h2 a, h3 a, h4 a, h5 a {
    color: inherit;
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
}

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover {
    color: #000000;
    background: #ff0000;
}
canvas{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

#content{
    position: relative;
    z-index: 10;
    height: 100vh;
    overflow: scroll;
    scrollbar-width: none;
}
#content::-webkit-scrollbar { 
    display: none; 
}

.container{
    width: 1000px;
    max-width: 90%;
    margin: 0 auto;
    padding: 0 1rem;
    background: black;
    min-height: 100vh;
    transition: all ease-in-out 0.15s;
}
.section{
    padding-top: 50vh;
    min-height: 100vh;
}
.section > div{
    width: 100%;
}
.section h2, .section h3{
    margin-top: 0.5rem;
}
.first{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: flex-end;
    margin-bottom: 0;
}

.section:not(.first):not(.last) { 
    display: flex;
    align-items: flex-end;
}

.section:not(.first):not(.last) p { 
    font-family: monospace;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.3;
    padding: 0.5rem 0;
}

.last{
    padding-top: 0;
    text-align: right;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.last  > div {
    width: 100%;
    text-align: left;
}

.bottom-text{
    position: absolute;
    bottom: 0;
    right: 0;
    cursor: pointer;
    z-index: 11;
}
.top-text{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 11;
}

img{
    display: inline-block;
    max-width: 100%;
}

.flex{
    display: flex;
}
/*
@keyframes caretAnim {
    0%   { opacity: 1 }
    0.1%   { opacity: 0 }
    50% { opacity: 0 }
    50.1% { opacity: 1 }
}

p:hover::after{
    content: '\2588';
    display: inline;
    font-size: 85%;
    animation-name: caretAnim;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
*/
@import url('glitch.css');
